In [39]:
import pandas
from json import loads, dumps
import os

## Create sql query
- TODO:: find out how to get the schema of a BigQuery table

In [40]:
sql = """
    SELECT *
    FROM `nih-sra-datastore.sra.metadata`
    WHERE bioproject="PRJNA523380" AND center_name = "BROAD INSTITUTE"
"""

## Run query

In [41]:
df = pandas.read_gbq(sql, dialect="standard")

In [42]:
# View dataframe
df.head()

,acc,assay_type,center_name,consent,experiment,sample_name,instrument,librarylayout,libraryselection,librarysource,...,geo_loc_name_sam,ena_first_public_run,ena_last_update_run,sample_name_sam,datastore_filetype,datastore_provider,datastore_region,attributes,run_file_version,jattr
0,SRR8652105,WGS,BROAD INSTITUTE,public,SRX5449795,MCF7_BREAST,Illumina HiSeq 2000,PAIRED,size fractionation,GENOMIC,...,[],[],[],[],"[bam, sra, run.zq]","[ncbi, s3, gs]","[ncbi.public, gs.US, s3.us-east-1]","[{'k': 'sex_calc', 'v': 'female'}, {'k': 'asse...",1,"{""sex_calc"": ""female"", ""assemblyname"": ""GCA_00..."
1,SRR8639219,WGS,BROAD INSTITUTE,public,SRX5437514,DMS53_LUNG,Illumina HiSeq 2000,PAIRED,size fractionation,GENOMIC,...,[],[],[],[],"[bam, sra, run.zq]","[s3, ncbi, gs]","[ncbi.public, s3.us-east-1, gs.US]","[{'k': 'sex_calc', 'v': 'male'}, {'k': 'assemb...",1,"{""sex_calc"": ""male"", ""assemblyname"": ""GCA_0000..."
2,SRR8652062,WGS,BROAD INSTITUTE,public,SRX5449838,IM95_STOMACH,Illumina HiSeq 2000,PAIRED,size fractionation,GENOMIC,...,[],[],[],[],"[run.zq, bam, sra]","[gs, s3, ncbi]","[s3.us-east-1, gs.US, ncbi.public]","[{'k': 'sex_calc', 'v': 'male'}, {'k': 'assemb...",1,"{""sex_calc"": ""male"", ""assemblyname"": ""GCA_0000..."
3,SRR8652060,WGS,BROAD INSTITUTE,public,SRX5449840,KATOIII_STOMACH,Illumina HiSeq 2000,PAIRED,size fractionation,GENOMIC,...,[],[],[],[],"[run.zq, bam, sra]","[gs, s3, ncbi]","[s3.us-east-1, ncbi.public, gs.US]","[{'k': 'sex_calc', 'v': 'male'}, {'k': 'assemb...",1,"{""sex_calc"": ""male"", ""assemblyname"": ""GCA_0000..."
4,SRR8652054,WGS,BROAD INSTITUTE,public,SRX5449846,NCIH2066_LUNG,Illumina HiSeq 2000,PAIRED,size fractionation,GENOMIC,...,[],[],[],[],"[sra, run.zq, bam]","[s3, ncbi, gs]","[ncbi.public, gs.US, s3.us-east-1]","[{'k': 'sex_calc', 'v': 'female'}, {'k': 'asse...",1,"{""sex_calc"": ""female"", ""assemblyname"": ""GCA_00..."

## Analayze df

In [43]:
print(df.columns)

Index(['acc', 'assay_type', 'center_name', 'consent', 'experiment',
       'sample_name', 'instrument', 'librarylayout', 'libraryselection',
       'librarysource', 'platform', 'sample_acc', 'biosample', 'organism',
       'sra_study', 'releasedate', 'bioproject', 'mbytes', 'loaddate',
       'avgspotlen', 'mbases', 'insertsize', 'library_name',
       'biosamplemodel_sam', 'collection_date_sam',
       'geo_loc_name_country_calc', 'geo_loc_name_country_continent_calc',
       'geo_loc_name_sam', 'ena_first_public_run', 'ena_last_update_run',
       'sample_name_sam', 'datastore_filetype', 'datastore_provider',
       'datastore_region', 'attributes', 'run_file_version', 'jattr'],
      dtype='object')

In [44]:
import pandas as pd

# Assuming df is your original DataFrame containing the data

# List of column names for which you want to create unique DataFrames
columns_to_extract = ["organism", "instrument", "assay_type", "librarylayout", "libraryselection", "librarysource", "releasedate"]

# Create a dictionary of DataFrames with counts of unique values for each column
unique_dataframes = {
    column: df.groupby(column).size().reset_index(name='count') for column in columns_to_extract
}

# Printing each DataFrame
for column, unique_df in unique_dataframes.items():
    print(f"Unique entries for column '{column}':")
    print(unique_df)
    print("\n")

Unique entries for column 'organism':
       organism  count
0  Homo sapiens   4550


Unique entries for column 'instrument':
            instrument  count
0  Illumina HiSeq 2000   3341
1  Illumina HiSeq 2500   1019
2       Illumina MiSeq    190


Unique entries for column 'assay_type':
         assay_type  count
0          AMPLICON    972
1     Bisulfite-Seq    928
2           RNA-Seq   1019
3  Targeted-Capture    976
4               WGS    329
5               WXS    326


Unique entries for column 'librarylayout':
  librarylayout  count
0        PAIRED   3622
1        SINGLE    928


Unique entries for column 'libraryselection':
         libraryselection  count
0        Hybrid Selection   1302
1                     PCR    972
2  Reduced Representation    928
3                    cDNA   1019
4      size fractionation    329


Unique entries for column 'librarysource':
    librarysource  count
0         GENOMIC   3531
1  TRANSCRIPTOMIC   1019


Unique entries for column 'releasedate':
                releasedate  count
0 2019-03-27 00:00:00+00:00   4550

In [45]:
unique_dataframes

{'organism':        organism  count
 0  Homo sapiens   4550,
 'instrument':             instrument  count
 0  Illumina HiSeq 2000   3341
 1  Illumina HiSeq 2500   1019
 2       Illumina MiSeq    190,
 'assay_type':          assay_type  count
 0          AMPLICON    972
 1     Bisulfite-Seq    928
 2           RNA-Seq   1019
 3  Targeted-Capture    976
 4               WGS    329
 5               WXS    326,
 'librarylayout':   librarylayout  count
 0        PAIRED   3622
 1        SINGLE    928,
 'libraryselection':          libraryselection  count
 0        Hybrid Selection   1302
 1                     PCR    972
 2  Reduced Representation    928
 3                    cDNA   1019
 4      size fractionation    329,
 'librarysource':     librarysource  count
 0         GENOMIC   3531
 1  TRANSCRIPTOMIC   1019,
 'releasedate':                 releasedate  count
 0 2019-03-27 00:00:00+00:00   4550}

## SAVE JSON to ./data/

In [46]:
result=df.to_json(orient="records")
parsed = loads(result)
x=dumps(parsed, indent=4)

In [47]:
from pathlib import Path

def write_json_to_file(file_path, data):
    # Convert the file path to a Path object for better path manipulation
    path = Path(file_path)
    
    # Create the parent directory if it doesn't exist
    path.parent.mkdir(parents=True, exist_ok=True)

    # Write the data to the file
    with open(path, "w") as outfile:
        outfile.write(data)

In [48]:
filepath="./data/BQ_CCLE_metadata.json"
write_json_to_file(filepath, x)

In [49]:
loads(x)[1]

{'acc': 'SRR8639219',
 'assay_type': 'WGS',
 'center_name': 'BROAD INSTITUTE',
 'consent': 'public',
 'experiment': 'SRX5437514',
 'sample_name': 'DMS53_LUNG',
 'instrument': 'Illumina HiSeq 2000',
 'librarylayout': 'PAIRED',
 'libraryselection': 'size fractionation',
 'librarysource': 'GENOMIC',
 'platform': 'ILLUMINA',
 'sample_acc': 'SRS4395966',
 'biosample': 'SAMN10987596',
 'organism': 'Homo sapiens',
 'sra_study': 'SRP186687',
 'releasedate': 1553644800000,
 'bioproject': 'PRJNA523380',
 'mbytes': 69535,
 'loaddate': None,
 'avgspotlen': 202,
 'mbases': 135250,
 'insertsize': None,
 'library_name': 'WGS-DMS53_LUNG',
 'biosamplemodel_sam': ['Human'],
 'collection_date_sam': None,
 'geo_loc_name_country_calc': None,
 'geo_loc_name_country_continent_calc': None,
 'geo_loc_name_sam': [],
 'ena_first_public_run': [],
 'ena_last_update_run': [],
 'sample_name_sam': [],
 'datastore_filetype': ['bam', 'sra', 'run.zq'],
 'datastore_provider': ['s3', 'ncbi', 'gs'],
 'datastore_region': ['ncbi.public', 's3.us-east-1', 'gs.US'],
 'attributes': [{'k': 'sex_calc', 'v': 'male'},
  {'k': 'assemblyname', 'v': 'GCA_000001405.13'},
  {'k': 'bases', 'v': '135250787508'},
  {'k': 'bytes', 'v': '72913109560'},
  {'k': 'run_file_create_date', 'v': '2019-02-27T00:35:00.000Z'},
  {'k': 'age_sam', 'v': '54'},
  {'k': 'biomaterial_provider_sam', 'v': 'ATCC:DMS 53'},
  {'k': 'cell_line_sam_ss_dpl110', 'v': 'DMS 53'},
  {'k': 'disease_sam', 'v': 'carcinoma (small_cell_carcinoma)'},
  {'k': 'disease_stage_sam_s_dpl172', 'v': 'primary'},
  {'k': 'ethnicity_sam', 'v': 'Caucasian'},
  {'k': 'isolate_sam', 'v': 'cell line'},
  {'k': 'sample_type_sam', 'v': 'cell culture'},
  {'k': 'tissue_sam', 'v': 'lung'},
  {'k': 'primary_search', 'v': '10987596'},
  {'k': 'primary_search', 'v': '523380'},
  {'k': 'primary_search', 'v': 'DMS53_LUNG'},
  {'k': 'primary_search', 'v': 'DMS_53.bam'},
  {'k': 'primary_search', 'v': 'PRJNA152953'},
  {'k': 'primary_search', 'v': 'PRJNA523380'},
  {'k': 'primary_search', 'v': 'SAMN10987596'},
  {'k': 'primary_search', 'v': 'SRP186687'},
  {'k': 'primary_search', 'v': 'SRR8639219'},
  {'k': 'primary_search', 'v': 'SRS4395966'},
  {'k': 'primary_search', 'v': 'SRX5437514'},
  {'k': 'primary_search', 'v': 'WGS-DMS53_LUNG'}],
 'run_file_version': 1,
 'jattr': '{"sex_calc": "male", "assemblyname": "GCA_000001405.13", "bases": 135250787508, "bytes": 72913109560, "run_file_create_date": "2019-02-27T00:35:00.000Z", "age_sam": ["54"], "biomaterial_provider_sam": ["ATCC:DMS 53"], "cell_line_sam_ss_dpl110": ["DMS 53"], "disease_sam": ["carcinoma (small_cell_carcinoma)"], "disease_stage_sam_s_dpl172": "primary", "ethnicity_sam": ["Caucasian"], "isolate_sam": ["cell line"], "sample_type_sam": ["cell culture"], "tissue_sam": ["lung"], "primary_search": "10987596"}'}

In [50]:
df[(df["mbytes"] >= 1000) & (df["assay_type"]=="RNA-Seq") &(df["mbytes"] <= 4000)][["acc","bioproject", "sample_name", "mbytes"]]

             acc   bioproject             sample_name  mbytes
695   SRR8615894  PRJNA523380         TUHR4TKB_KIDNEY    3904
1048  SRR8618300  PRJNA523380    VMCUB1_URINARY_TRACT    3561
1128  SRR8615581  PRJNA523380         MDAMB361_BREAST    2995
1673  SRR8615564  PRJNA523380  SW1463_LARGE_INTESTINE    3960

In [51]:
max(df["mbytes"])

99575

In [52]:
r_vector = ["A-427", "C2BBe1", "CL-40", "COLO 741", "DU145", "HCC1187", "HCC1806", "HCT 116", "HCT 15",
            "HeLa", "HT115", "HT-29", "HT-55", "Karpas-620", "KNS-62", "Ku812", "LS180", "MDA-MB-361",
            "MDST8", "NCI-H510A", "SNU-1", "SNU-16", "OVKATE", "RKO", "SET-2", "SiHa", "Rh30",
            "SK-N-SH", "SNU-C1", "SR", "SU-DHL-10", "SU-DHL-5", "SU-DHL-6", "SUIT-2", "SW1116", "SW1463",
            "SW1573", "SW403", "SW48", "SW620", "SW780", "SW837", "SW948", "U266B1", "UACC-812",
            "WSU-DLCL2", "YAPC", "ZR-75-30"]

python_list = [item for item in r_vector]

print(python_list)

['A-427', 'C2BBe1', 'CL-40', 'COLO 741', 'DU145', 'HCC1187', 'HCC1806', 'HCT 116', 'HCT 15', 'HeLa', 'HT115', 'HT-29', 'HT-55', 'Karpas-620', 'KNS-62', 'Ku812', 'LS180', 'MDA-MB-361', 'MDST8', 'NCI-H510A', 'SNU-1', 'SNU-16', 'OVKATE', 'RKO', 'SET-2', 'SiHa', 'Rh30', 'SK-N-SH', 'SNU-C1', 'SR', 'SU-DHL-10', 'SU-DHL-5', 'SU-DHL-6', 'SUIT-2', 'SW1116', 'SW1463', 'SW1573', 'SW403', 'SW48', 'SW620', 'SW780', 'SW837', 'SW948', 'U266B1', 'UACC-812', 'WSU-DLCL2', 'YAPC', 'ZR-75-30']

In [53]:
# Assuming 'df' is your DataFrame
subset_df = df[['acc', 'sample_name']]
subset_df

             acc                sample_name
0     SRR8652105                MCF7_BREAST
1     SRR8639219                 DMS53_LUNG
2     SRR8652062               IM95_STOMACH
3     SRR8652060            KATOIII_STOMACH
4     SRR8652054              NCIH2066_LUNG
...          ...                        ...
4545  SRR8657615              NCIH1876_LUNG
4546  SRR8657083  KPNSI9S_AUTONOMIC_GANGLIA
4547  SRR8657702          HEC59_ENDOMETRIUM
4548  SRR8657870               TOV21G_OVARY
4549  SRR8657935     SW1463_LARGE_INTESTINE

[4550 rows x 2 columns]

# Match Julia's requested cell lines in the DF to find the SRA accession ID

In [54]:
# Create dictionaries to store matched and unmatched entries
matched_entries = {}
unmatched_entries = []

# Iterate through the r_vector and find matching rows
for value in r_vector:
    matched_rows = df[df['sample_name'].str.contains(value.replace('-', ''), case=False)]
    if not matched_rows.empty:
        matched_info = matched_rows[['acc', 'sample_name', 'libraryselection', 'librarysource', 'assay_type']]
        matched_entries[value] = matched_rows[['acc', 'sample_name', 'libraryselection', 'librarysource', 'assay_type']].copy()
    else:
        unmatched_entries.append(value)

print("Matched entries:")
for value, info in matched_entries.items():
    print(f"Value: {value}")
    for entry in info:
        print(entry)
    print()

print("Unmatched entries:", unmatched_entries)

Matched entries:
Value: A-427
acc
sample_name
libraryselection
librarysource
assay_type

Value: C2BBe1
acc
sample_name
libraryselection
librarysource
assay_type

Value: CL-40
acc
sample_name
libraryselection
librarysource
assay_type

Value: DU145
acc
sample_name
libraryselection
librarysource
assay_type

Value: HCC1187
acc
sample_name
libraryselection
librarysource
assay_type

Value: HCC1806
acc
sample_name
libraryselection
librarysource
assay_type

Value: HeLa
acc
sample_name
libraryselection
librarysource
assay_type

Value: HT115
acc
sample_name
libraryselection
librarysource
assay_type

Value: HT-29
acc
sample_name
libraryselection
librarysource
assay_type

Value: HT-55
acc
sample_name
libraryselection
librarysource
assay_type

Value: Karpas-620
acc
sample_name
libraryselection
librarysource
assay_type

Value: KNS-62
acc
sample_name
libraryselection
librarysource
assay_type

Value: Ku812
acc
sample_name
libraryselection
librarysource
assay_type

Value: LS180
acc
sample_name
libraryselection
librarysource
assay_type

Value: MDA-MB-361
acc
sample_name
libraryselection
librarysource
assay_type

Value: MDST8
acc
sample_name
libraryselection
librarysource
assay_type

Value: SNU-1
acc
sample_name
libraryselection
librarysource
assay_type

Value: SNU-16
acc
sample_name
libraryselection
librarysource
assay_type

Value: OVKATE
acc
sample_name
libraryselection
librarysource
assay_type

Value: RKO
acc
sample_name
libraryselection
librarysource
assay_type

Value: SET-2
acc
sample_name
libraryselection
librarysource
assay_type

Value: SiHa
acc
sample_name
libraryselection
librarysource
assay_type

Value: Rh30
acc
sample_name
libraryselection
librarysource
assay_type

Value: SK-N-SH
acc
sample_name
libraryselection
librarysource
assay_type

Value: SNU-C1
acc
sample_name
libraryselection
librarysource
assay_type

Value: SR
acc
sample_name
libraryselection
librarysource
assay_type

Value: SU-DHL-10
acc
sample_name
libraryselection
librarysource
assay_type

Value: SU-DHL-5
acc
sample_name
libraryselection
librarysource
assay_type

Value: SU-DHL-6
acc
sample_name
libraryselection
librarysource
assay_type

Value: SUIT-2
acc
sample_name
libraryselection
librarysource
assay_type

Value: SW1116
acc
sample_name
libraryselection
librarysource
assay_type

Value: SW1463
acc
sample_name
libraryselection
librarysource
assay_type

Value: SW1573
acc
sample_name
libraryselection
librarysource
assay_type

Value: SW403
acc
sample_name
libraryselection
librarysource
assay_type

Value: SW48
acc
sample_name
libraryselection
librarysource
assay_type

Value: SW620
acc
sample_name
libraryselection
librarysource
assay_type

Value: SW780
acc
sample_name
libraryselection
librarysource
assay_type

Value: SW837
acc
sample_name
libraryselection
librarysource
assay_type

Value: SW948
acc
sample_name
libraryselection
librarysource
assay_type

Value: U266B1
acc
sample_name
libraryselection
librarysource
assay_type

Value: UACC-812
acc
sample_name
libraryselection
librarysource
assay_type

Value: WSU-DLCL2
acc
sample_name
libraryselection
librarysource
assay_type

Value: YAPC
acc
sample_name
libraryselection
librarysource
assay_type

Value: ZR-75-30
acc
sample_name
libraryselection
librarysource
assay_type

Unmatched entries: ['COLO 741', 'HCT 116', 'HCT 15', 'NCI-H510A']

In [55]:
matched_entries.get('C2BBe1')

,acc,sample_name,libraryselection,librarysource,assay_type
278,SRR8639203,C2BBE1_LARGE_INTESTINE,size fractionation,GENOMIC,WGS
869,SRR8616200,C2BBE1_LARGE_INTESTINE,cDNA,TRANSCRIPTOMIC,RNA-Seq
2264,SRR8635662,C2BBE1_LARGE_INTESTINE,PCR,GENOMIC,AMPLICON
3155,SRR8633794,C2BBE1_LARGE_INTESTINE,Reduced Representation,GENOMIC,Bisulfite-Seq
3685,SRR8657689,C2BBE1_LARGE_INTESTINE,Hybrid Selection,GENOMIC,Targeted-Capture

In [56]:
result=matched_entries.to_json(orient="records")
parsed = loads(result)
x=dumps(parsed, indent=4)

filepath="./data/JuliaRequest.json"
write_json_to_file(filepath, df)

AttributeError: 'dict' object has no attribute 'to_json'